@media(max-width:640px) {

    footer{
        /* max-width: 640px;  */
       /* background-color: aqua;
       display: flex;
       align-items: center; */
       background-color: brown;
       display: flex;
       justify-content: center;
       align-items: center;
     
       
       
   
     
   
   }
   .footer{
       
       font-size: 16px; 
       background-color: coral;
    
      /* margin-left: 30px; */
      /* color: aqua; */
      /* background-color: black; */
      
   
   }
}