.title {
     width: max-content; 
    color:black;
    text-shadow: white;
    font-size: 70px;      
    /* position: absolute; */
    text-shadow: -3px -5px 4px #fff;
 top: 700px; 
    left: 350px;
     position: absolute; 
    text-transform: uppercase; 
     /* position: fixed;  */
     z-index: 1;
     
    
} 

    
.home { 
    display: flex;
     background-image: url(img/backgroud.png); 
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     /* position: relative;  */
      /* width: 1200px;   */
    /* margin-top: 40px */
    /* filter: grayscale(100%); */
    z-index: 0;

}
.image_home {
    filter: grayscale(100%);
}